*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: white;
}
header{
    height: 20%;
    width: 100%;
}
header img{
    display: block;
    margin:auto;
    width: 400px;
    height: 600px;
    
}